html {
  font-family: "Playfair Display", serif;
  font-size: 25px;
}

html {
  background-color: rgb(81, 1, 1);
}

body {
  width: 900px;
  margin: 0 auto;
  background-color: rgb(135, 3, 3);
  padding: 0 20px 20px 20px;
  box-shadow: 0 0 40px rgba(1, 1, 1, 1.2);
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #000;
  text-shadow: 3px 2px 4px rgb(196, 196, 196);
}

img {
  display: block;
  margin: 0 auto;
  width: 100 px;
  height: auto;
}
